<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Torneo Padel Webapp</a>
</nav>

<main role="main" class="container">
  <div class = "container">
    <h1>Bienvenidos a Padel-ya</h1>

    <a class="btn btn-primary" th:href="@{/formulario-organizador}">Registrarme como Administrador</a>
    <a class="btn btn-danger" th:href="@{/login}">Login Administrador</a>
    <a class="btn btn-secondary" th:href="@{/formulario-usuario-jugador}">Registrarme como Jugador</a>
    <a class="btn btn-danger" th:href="@{/login-usuario-jugador}">Login Jugador</a>

  </div>
</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>