<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark p-4">
    <div class="container-fluid">


        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <!-- Texto de bienvenida -->
            <div class="d-flex align-items-center">
                <p class="mb-0 text-white">Bienvenido, <span th:text="${usuarioJugador.nombre}">Organizador</span>!</p>
            </div>

            <!-- Texto centrado "Mis torneos" -->

            <div class="text-center"  style="width:300px;">
                <h5 class="text-white" style="margin-right:100px;">Mis torneos</h5>
            </div>
            <!-- Botón para abrir el Offcanvas -->
            <button class="btn btn-primary bg-dark border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="fas fa-bars" style="font-size: 1.5rem;"></i> <!-- Aquí puedes cambiar 'fa-bars' por otro ícono -->
            </button>

        </div>
    </div>
</nav>


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white" id="offcanvasRightLabel">Gestion</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-left"> <!-- Añadir clase 'text-center' -->
        <div class="mb-4 d-flex align-items-center justify-content-center"> <!-- Flex para alinear -->
            <i class="fas fa-user-circle text-white" style="font-size: 3rem;"></i> <!-- Icono de usuario grande -->
            <span class="text-white ms-2" style="font-size: 1rem;" th:text="${usuarioJugador.nombre}"> </span>
            <span class="text-white ms-1" style="font-size: 1rem;" th:text="${usuarioJugador.apellido}"></span>  <!-- Nombre al lado del icono -->
        </div>
        <ul class="list-group"> <!-- Usa 'list-group' para estilizar la lista -->
            <li class="list-group-item bg-dark">
                <a class="text-white custom-link" href="#">Perfil</a>
            </li>
            <li class="list-group-item bg-dark">
                <a class="text-white custom-link" href="#">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</div>


<section class="lista-torneos">
    <div class="container">
        <div class="row" >
            <div class="col-md-4 mb-4" th:each="torneo : ${torneos}">
                <div class="card">
                    <a th:href="@{/vista-torneo/{id}(id=${torneo.id})}">
                        <img src="https://th.bing.com/th/id/R.565964420be6fb043fbe1743a4b8b8d1?rik=%2bpAreFg6Q1cOlA&pid=ImgRaw&r=0" class="card-img-top" alt="Torneo" style="height: 200px; object-fit: cover;">
                    </a>

                    <div class="card-body">
                        <h5 class="card-title" th:text="${torneo.titulo}"></h5>
                        <p class="card-text" th:text="${torneo.descripcion}"></p>
                        <p class="card-text"><strong>Deporte:</strong> <span class="torneo-info" th:text="${torneo.deporte}"></span></p>
                        <p class="card-text"><strong>Fecha:</strong> <span class="torneo-info" th:text="${torneo.fechaInicio}"></span></p>
                        <p class="card-text"><strong>Fecha de inscripcion:</strong> <span class="torneo-info" th:text="${torneo.inscripcionInicia}"></span></p>
                        <p class="card-text"><strong>Ubicación:</strong> <span class="torneo-info" th:text="${torneo.ubicacion}"></span></p>

                    </div>
                </div>
            </div>
        </div> <!-- Cierra la fila después de todos los torneos -->
    </div>
</section>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>